button.main-button{
  padding: 20px 40px;
  width: fit-content;
  font-size: 40px;
  color: var(----color-white);
  background-color: var(--color-main);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}