/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #dbac74;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-main: #5e659d;
  --color-orange: #dbac74;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-white);
}

a {
  color: var(--color-white);
}

ul,
li,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1080px;
  background: no-repeat url('../assets/images/background-page-landing.png');
}

#app.discover {
  background: no-repeat url('../assets/images/music-titles.png') 90% center !important;
}

#app.join,
#app.sign {
  background: no-repeat url('../assets/images/background-page-sign-up.png') 350px !important;
}

.container {
  padding-left: 170px;
}