main.signup {
  display: flex;
  align-items: center;
}

form.signup_form {
  padding: 48px 66px;
  background-color: var(--color-main);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: fit-content;
  align-items: flex-end;
  height: fit-content;
}

div.signup_input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

label.signup_input-label {
  font-size: 38px;
}

input.signup_form_input {
  width: 500px;
  border-radius: 20px;
  border: none;
}