section.main_content {
  display: flex;
  flex-direction: column;
  padding-top: 262px;
  align-items: center;
  width: fit-content;
}

h1.content_heading {
  font-size: 110px;
  line-height: 166px;
  font-weight: 400;
}

span.content_text {
  font-size: 34px;
  line-height: 52px;
  margin-bottom: 30px;
}
