section.discover_content {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

h1.discover_heading {
  font-size: 96px;
  font-weight: 400;
}

div.discover_buttons {
  display: flex;
  gap: 80px;
  margin-top: 108px;
}

span.discover_text {
  margin-top: 108px;
}