.header {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 60px;
  margin-top: 44px;
}

li.header_logo {
  height: 100px;
  width: 120px;
  background: no-repeat url('./src/assets/icons/logo.svg');
  text-align: end;
}

li.header_element {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a.header-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 32px;
}